<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glabs BACs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
    <h1>Glabs BACs</h1>

    <div class="row">
      <div class="jumbotron col-xs-offset-2 col-xs-8">
        <p>
          This contains the list of BACS that have been processed by Glabs
        </p>
      </div>
    </div>

    <div id="app">

        <div class="row">
          <div class="bacsProcessedBox col-md-12 col-sm-12">
            <h2><b>Total BACs Processed</b></h2>
            <h3>
              {{ totalBacs }}
            </h3>
          </div>
        </div>

      <hr />

      <table class="table table-hover table-bordered table-condensed">
        <thead class="thead-dark">
          <tr>
            <td>
              <h4>Name</h4>
            </td>
            <td>
              <h4>Created</h4>
            </td>
            <td>
              <h4>Company</h4>
            </td>
            <td>
              <h4>Originating Account</h4>
            </td>
            <td>
              <h4>Returned Debit Items</h4>
            </td>
            <td>
              <h4>Totals</h4>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="returnedDebit in returnedDebits">
            <td>
              {{ returnedDebit.name }}
            </td>
            <td>
              {{ returnedDebit.created }}
            </td>
            <td>
              {{ returnedDebit.bacsDocument.Data.ARUDD.AddresseeInformation.name }}
            </td>
            <td>
              <b>Bank Name:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.OriginatingAccount.bankName }}<br>
              <b>Branch Name:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.OriginatingAccount.branchName }}<br>
              <b>Name:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.OriginatingAccount.name }}<br>
              <b>Account Number:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.OriginatingAccount.number }}<br>
              <b>Sort Code:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.OriginatingAccount.sortCode }}<br>
            </td>
            <td>
              <div v-for="(returnedDebititem, index) in returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.ReturnedDebitItem">
                  <h4><b>Return Debit Item # {{ index + 1 }}</b></h4>
                  <hr />
                  <b>Payer Details</b>
                  <hr />
                  <b>Bank Name:</b> {{ returnedDebititem.PayerAccount.bankName }}<br>
                  <b>Branch Name:</b> {{ returnedDebititem.PayerAccount.branchName }}<br>
                  <b>Payers Name:</b> {{ returnedDebititem.PayerAccount.name }}<br>
                  <b>Account Number:</b> {{ returnedDebititem.PayerAccount.number }}<br>
                  <b>Sort Code:</b> {{ returnedDebititem.PayerAccount.sortCode }}<br>
                  <b>Reference:</b> {{ returnedDebititem.PayerAccount.ref }}<br>
                  <hr />
                  <b>Transaction Details</b>
                  <hr />
                  <b>Original Processing Date:</b> {{ returnedDebititem.originalProcessingDate}}<br>
                  <b>Reference:</b> {{ returnedDebititem.originalProcessingDate}}<br>
                  <b>Return Description:</b> {{ returnedDebititem.returnDescription}}<br>
                  <b>Return Code:</b> {{ returnedDebititem.returnCode}}<br>
                  <b>Transaction Code:</b> {{ returnedDebititem.transCode}}<br>
                  <b>Value of Transaction:</b> {{ returnedDebititem.valueOf | currency('£')}}
                  <hr />
              </div>
            </td>
            <td>
              <b>Number of Transactions:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.Totals.numberOf }}<br>
              <b>Total of All Transactions:</b> {{ returnedDebit.bacsDocument.Data.ARUDD.Advice.OriginatingAccountRecords.OriginatingAccountRecord.Totals.valueOf | currency('£')}}<br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
